.box{
    height: 200px;
    width: 200px;
    background-color: beige;
    border: 2px solid black;

    transition-property: all;
    transition-duration: 0.5s;
    transition-delay: 1s;
    transition-timing-function: linear;
}
.box:hover{
    width: 100vw;
    height: 100vh;
    background-color: blueviolet;
}